[Unit]

Description=A server that passes command to a usb 
After=network.target
StartLimitIntervalSec=0


[Service]

Type=simple
Restart=always
RestartSec=1
User=root
WorkingDirectory=/opt/stereo-project
ExecStartPre=source /opt/ros/humble/setup.bash && source install/setup.sh
ExecStart=ros2 run stm_comm stm_comm


[Install]
WantedBy=multi-user.target